body {
    background-color: rgb(0, 167, 139);
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

button{
    background-color: burlywood;
}
div {
   background-color: rgb(174, 225, 255) 
}